<!-- <mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="plant.imgSource" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<mat-card class="card-picture">
  <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
    <span fxFlex="100%">{{plant.commonName}}</span>
  </mat-card-title>
  <img mat-card-image [src]="plant.imgSource">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem animi amet recusandae itaque, reprehenderit ipsum
    illum eaque sint dolorum sequi. Tenetur incidunt similique minima deleniti maiores repudiandae beatae aspernatur
    provident.</p>
</mat-card>